&
  position relative
  margin-left 30px
  svg
    g.layer
      path
        fill-opacity 0.8
        stroke-width 0.5
    g.axis
      line
        stroke #b
        shape-rendering crispEdges
      text
        fill #6
        font-size 11px
  ul.legend
    z-index 30
    position absolute
    top 10px
    left 10px
    list-style-type none
    margin 0px
    padding 0px
    li
      position relative
      padding 2px 0px
      float left
      clear both
      div.reason
        padding-left 20px
        float left
        width 122px
        &::first-letter
          text-transform uppercase
      div.count
        float left
        text-align right
        width 50px
      div.color
        position absolute
        top 5px
        left 0px
        width 7px
        height 7px
      &:last-child
        .reason
        .color
          visibility hidden
        .count
          border-top 1px solid #9
          padding-top 4px
      &:after
        content " " // opras, aby se nedetoval mouseout na pod-elementech. Velkej vopras.
        position absolute
        top 0px
        left 0px
        width 100%
        height 100%
      &:hover
        font-weight bold
  .year-overlay
    z-index 20
    position absolute
    left 0px
    top 0px
    width calc(100% - 9px)
    height 477px
    .year
      width (100% / 65)
      float left
      height 100%
      background transparent
      position relative
      z-index 22
      .label
        display none
    &:hover
      .year
        background rgba(255,255,255,0.7)
        &:hover
          background transparent
          z-index 23
          .label
            display block
            position absolute
            left 50%
            bottom 16px
            font-size 11px
            transform translate(-50%,0)
            white-space nowrap
      & + svg .axis text
        display none
  &.is-trat
    .year-overlay
      .year
        width (100% / 65 * 5)
  &.is-pomer
    .legend li:last-child
      display none
