border-radius()
  border-radius arguments
  -o-border-radius arguments
  -ms-border-radius arguments
  -moz-border-radius arguments
  -webkit-border-radius arguments


transform()
  transform arguments
  -o-transform arguments
  -ms-transform arguments
  -moz-transform arguments
  -webkit-transform arguments

transform-origin()
  transform-origin arguments
  -o-transform-origin arguments
  -ms-transform-origin arguments
  -moz-transform-origin arguments
  -webkit-transform-origin arguments

box-sizing()
  box-sizing arguments
  -o-box-sizing arguments
  -ms-box-sizing arguments
  -moz-box-sizing arguments
  -webkit-box-sizing arguments

perspective()
  perspective arguments
  -webkit-perspective arguments

perspective()
  perspective arguments
  -webkit-perspective arguments

transform-style()
  transform-style arguments
  -webkit-transform-style arguments

backface-visibility()
  backface-visibility arguments
  -webkit-backface-visibility arguments
