.track-selector
  ul
    position absolute
    top 0px
    left 0px
    background white
    list-style-type none
    margin 0px
    padding 0px
    z-index 60
    opacity 0
    transition opacity 0.8s
    &.active
      opacity 1
    &.hidden
      display none
    li
      float left
      position relative
      margin 10px
      perspective 500
      a
        transform rotateX(180deg)
        z-index 2
      span.back
        z-index 1
        display block
        position absolute
        top 0px
        left 0px
        border 1px solid ColorBlue
        border-radius 8px
        background #fc
        opacity 0.2
      a
      span.back
        transform-style preserve-3d
        transition transform 0.6s
        backface-visibility hidden
        width 130px
        height 100px
      &.active
      &:hover
        a
          transform rotateX(0deg)
        span.back
          transform rotateX(180deg)
      &:last-child
        .img-container
          display none

  a.track
    width 130px
    height 100px
    position relative
    display block
    border 1px solid ColorBlue
    border-radius 8px
    color1 = lighten(desaturate(ColorBlue, 65%), 90%)
    color2 = lighten(desaturate(ColorBlue, 65%), 98%)
    background linear-gradient(to bottom, color1 0%, color2 100%)
    &:hover
      color1 = lighten(desaturate(ColorBlue, 65%), 80%)
      color2 = lighten(desaturate(ColorBlue, 65%), 90%)
      background linear-gradient(to bottom, color1 0%, color2 100%)
    &:active
      color1 = lighten(desaturate(ColorBlue, 65%), 70%)
      color2 = lighten(desaturate(ColorBlue, 65%), 80%)
      background linear-gradient(to bottom, color1 0%, color2 100%)
    span.name
      position absolute
      bottom 10px
      display block
      width 100%
      text-align center
      font-weight bold
      color darken(ColorBlue, 50%)
    .img-container
      display block
      position absolute
      top 10px
      left 0px
      width 100%
      height 50px
    img
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)
  a.track.selected
    z-index 60
    position absolute
    top 10px
    right 20px
    width 100px
    height 60px
    text-decoration none
    .name
      position relative
      padding 0px 5px
      height auto
      top 50%
      transform translate(0%, -50%)
    .img-container
        left 20px
        width 60px
        top 5px
        img
          max-width 60px
          opacity 0.1
